In [1]:
print("Hello, World!")

#you can verify the installation path by running python -c "import pandas; print(pandas.__file__)"

Hello, World!

In [7]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('../Data/aemo.csv')

# Display the head of the dataframe
df.head()

,SETTLEMENTDATE,CAPTL_WF,CATHROCK,CHALLHWF,CLEMGPWF,CNUNDAWF,CULLRGWF,HALLWF1,HALLWF2,LKBONNY1,...,BRYB1WF1,DIAPURWF1,KEPWF1,LGAPWF2,STOCKYD1,BRYB2WF2,KABANWF1,MRTLSWF1,MUWAWF2,PAREPW1
0,2010-11-01 00:05:00,0.0,0.0,6.0,1.51274,8.41,1.01625,28.52,17.76,9.07383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-11-01 00:10:00,0.0,0.0,5.2,1.22460,8.41,1.40688,28.30,20.65,9.12742,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-11-01 00:15:00,0.0,0.0,6.0,1.80088,6.70,1.58511,29.92,27.29,8.84163,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-11-01 00:20:00,0.0,0.0,5.3,1.29663,6.40,1.87808,22.23,27.47,7.49306,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-11-01 00:25:00,0.0,0.0,3.5,0.36018,6.40,2.08438,20.34,26.65,8.18967,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.columns

Index(['SETTLEMENTDATE', 'CAPTL_WF', 'CATHROCK', 'CHALLHWF', 'CLEMGPWF',
       'CNUNDAWF', 'CULLRGWF', 'HALLWF1', 'HALLWF2', 'LKBONNY1', 'LKBONNY2',
       'LKBONNY3', 'MTMILLAR', 'NBHWF1', 'PORTWF', 'SNOWTWN1', 'STARHLWF',
       'WATERLWF', 'WAUBRAWF', 'WOOLNTH1', 'WPWF', 'YAMBUKWF', 'BLUFF1',
       'GUNNING1', 'MACARTH1', 'MLWF1', 'GULLRWF1', 'MUSSELR1', 'SNOWNTH1',
       'SNOWSTH1', 'BOCORWF1', 'TARALGA1', 'BALDHWF1', 'ARWF1', 'HDWF1',
       'HDWF2', 'HDWF3', 'KIATAWF1', 'SAPHWF1', 'WRWF1', 'YSWF1', 'BODWF1',
       'CROOKWF2', 'CROWLWF1', 'MEWF1', 'MTGELWF1', 'SALTCRK1', 'STWF1',
       'WGWF1', 'COOPGWF1', 'GRANWF1', 'LGAPWF1', 'MUWAWF1', 'YENDWF1',
       'BANGOWF1', 'BULGANA1', 'CHYTWF1', 'CRURWF1', 'CTHLWF1', 'DUNDWF1',
       'DUNDWF2', 'DUNDWF3', 'ELAINWF1', 'GULLRWF2', 'MOORAWF1', 'BANGOWF2',
       'BRYB1WF1', 'DIAPURWF1', 'KEPWF1', 'LGAPWF2', 'STOCKYD1', 'BRYB2WF2',
       'KABANWF1', 'MRTLSWF1', 'MUWAWF2', 'PAREPW1'],
      dtype='object')

In [11]:
# Analyze the dataframe
print("Dataframe Info:")
print(df.info())

print("\nDataframe Summary Statistics:")
print(df.describe())

# Analyze the columns
print("\nColumn Names:")
print(df.columns)

print("\nColumn Data Types:")
print(df.dtypes)

print("\nColumn Count:")
print(len(df.columns))

Dataframe Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369440 entries, 0 to 1369439
Data columns (total 76 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   SETTLEMENTDATE  1369440 non-null  object
 1   CAPTL_WF        1368294 non-null  float64
 2   CATHROCK        1367999 non-null  float64
 3   CHALLHWF        1362230 non-null  float64
 4   CLEMGPWF        1369440 non-null  float64
 5   CNUNDAWF        1362684 non-null  float64
 6   CULLRGWF        1363581 non-null  float64
 7   HALLWF1         1369440 non-null  float64
 8   HALLWF2         1369440 non-null  float64
 9   LKBONNY1        1368978 non-null  float64
 10  LKBONNY2        1369440 non-null  float64
 11  LKBONNY3        1369440 non-null  float64
 12  MTMILLAR        1368825 non-null  float64
 13  NBHWF1          1369440 non-null  float64
 14  PORTWF          1368519 non-null  float64
 15  SNOWTWN1        1369440 non-null  float64
 16  STARHLWF        1364413 non-null  float64
 17  WATERLWF        1369440 non-null  float64
 18  WAUBRAWF        1368701 non-null  float64
 19  WOOLNTH1        1366958 non-null  float64
 20  WPWF            1365308 non-null  float64
 21  YAMBUKWF        1356260 non-null  float64
 22  BLUFF1          1298592 non-null  float64
 23  GUNNING1        1327968 non-null  float64
 24  MACARTH1        1179648 non-null  float64
 25  MLWF1           1149105 non-null  float64
 26  GULLRWF1        1048608 non-null  float64
 27  MUSSELR1        1121472 non-null  float64
 28  SNOWNTH1        1068768 non-null  float64
 29  SNOWSTH1        1068768 non-null  float64
 30  BOCORWF1        967104 non-null   float64
 31  TARALGA1        937152 non-null   float64
 32  BALDHWF1        923040 non-null   float64
 33  ARWF1           775872 non-null   float64
 34  HDWF1           781920 non-null   float64
 35  HDWF2           703872 non-null   float64
 36  HDWF3           653575 non-null   float64
 37  KIATAWF1        630432 non-null   float64
 38  SAPHWF1         620640 non-null   float64
 39  WRWF1           664992 non-null   float64
 40  YSWF1           623692 non-null   float64
 41  BODWF1          558720 non-null   float64
 42  CROOKWF2        552384 non-null   float64
 43  CROWLWF1        524448 non-null   float64
 44  MEWF1           548640 non-null   float64
 45  MTGELWF1        569952 non-null   float64
 46  SALTCRK1        570816 non-null   float64
 47  STWF1           597312 non-null   float64
 48  WGWF1           554688 non-null   float64
 49  COOPGWF1        463968 non-null   float64
 50  GRANWF1         411552 non-null   float64
 51  LGAPWF1         486144 non-null   float64
 52  MUWAWF1         486144 non-null   float64
 53  YENDWF1         459648 non-null   float64
 54  BANGOWF1        302688 non-null   float64
 55  BULGANA1        365184 non-null   float64
 56  CHYTWF1         369216 non-null   float64
 57  CRURWF1         308736 non-null   float64
 58  CTHLWF1         401472 non-null   float64
 59  DUNDWF1         383328 non-null   float64
 60  DUNDWF2         383328 non-null   float64
 61  DUNDWF3         383328 non-null   float64
 62  ELAINWF1        375264 non-null   float64
 63  GULLRWF2        363168 non-null   float64
 64  MOORAWF1        310176 non-null   float64
 65  BANGOWF2        256320 non-null   float64
 66  BRYB1WF1        284544 non-null   float64
 67  DIAPURWF1       198189 non-null   float64
 68  KEPWF1          248256 non-null   float64
 69  LGAPWF2         197856 non-null   float64
 70  STOCKYD1        243648 non-null   float64
 71  BRYB2WF2        96969 non-null    float64
 72  KABANWF1        115488 non-null   float64
 73  MRTLSWF1        141408 non-null   float64
 74  MUWAWF2         179712 non-null   float64
 75  PAREPW1         173664 non-null   float64
dtypes: float64(75), object(1)
memory usage: 794.0+ MB
None

Dataframe Summary Statistics:
           CAPTL_WF      CATHROCK      CHALLHWF      CLEMGPWF      CNUNDAWF  \
count  1.368294e+06  1.367999e+06  1.362230e+06  1.369440e+06  1.362684e+06
mean   3.914891e+01  1.881542e+01  1.526675e+01  1.942398e+01  1.321443e+01
std    4.367939e+01  1.657967e+01  1.382446e+01  1.765910e+01  1.318535e+01
min   -1.000000e+01 -8.000000e-01 -7.910000e+01 -3.198490e+00 -6.837977e+01
25%    0.000000e+00  3.900000e+00  3.200000e+00  2.449190e+00  2.202569e+00
50%    2.280000e+01  1.468000e+01  1.160000e+01  1.519939e+01  8.509930e+00
75%    6.847900e+01  3.212000e+01  2.470000e+01  3.421663e+01  2.142499e+01
max    1.380880e+02  6.380000e+01  5.799990e+01  1.370106e+02  4.506078e+01

           CULLRGWF       HALLWF1       HALLWF2      LKBONNY1      LKBONNY2  \
count  1.363581e+06  1.369440e+06  1.369440e+06  1.368978e+06  1.369440e+06
mean   1.093140e+01  3.489133e+01  2.689249e+01  2.080488e+01  4.215988e+01
std    9.721634e+00  2.972391e+01  2.263216e+01  2.230326e+01  4.164928e+01
min   -9.975132e+00 -8.429450e+00 -8.600000e-01 -1.431741e+00 -3.113620e+00
25%    1.998932e+00  7.230000e+00  5.610000e+00  3.125828e+00  7.825660e+00
50%    8.340000e+00  2.825000e+01  2.228000e+01  1.259262e+01  2.819374e+01
75%    1.897917e+01  6.139000e+01  4.702000e+01  3.188344e+01  6.741154e+01
max    3.366901e+01  9.327000e+01  7.094000e+01  8.118221e+01  1.584792e+02

       ...       BRYB1WF1      DIAPURWF1         KEPWF1        LGAPWF2  \
count  ...  284544.000000  198189.000000  248256.000000  197856.000000
mean   ...      63.400587       3.824592      10.883404      28.999732
std    ...      58.366912       3.004398      10.117342      26.780728
min    ...       0.000000      -0.100000       0.000000       0.000000
25%    ...      11.318760       0.700000       1.550000       5.130000
50%    ...      44.906270       3.700000       9.570000      20.565000
75%    ...     109.556240       7.300000      20.140000      45.450000
max    ...     179.000000       8.400000      42.550000      85.290000

            STOCKYD1      BRYB2WF2       KABANWF1       MRTLSWF1  \
count  243648.000000  96969.000000  115488.000000  141408.000000
mean      149.078875     22.344997      30.943852      19.267797
std       144.175352     31.484831      35.745737      31.862634
min         0.000000      0.000000       0.000000       0.000000
25%        23.150000      0.000000       1.128000       0.000000
50%       105.350000      4.965290      16.607000       0.160000
75%       248.550000     32.907610      50.484750      25.140000
max       510.220000    105.949490     149.099000     145.640000

             MUWAWF2        PAREPW1
count  179712.000000  173664.000000
mean       48.939894      53.572631
std        54.294423      60.064007
min         0.000000       0.000000
25%         2.500000       1.560000
50%        27.100000      29.830000
75%        82.500000      87.552500
max       202.700000     217.481080

[8 rows x 75 columns]

Column Names:
Index(['SETTLEMENTDATE', 'CAPTL_WF', 'CATHROCK', 'CHALLHWF', 'CLEMGPWF',
       'CNUNDAWF', 'CULLRGWF', 'HALLWF1', 'HALLWF2', 'LKBONNY1', 'LKBONNY2',
       'LKBONNY3', 'MTMILLAR', 'NBHWF1', 'PORTWF', 'SNOWTWN1', 'STARHLWF',
       'WATERLWF', 'WAUBRAWF', 'WOOLNTH1', 'WPWF', 'YAMBUKWF', 'BLUFF1',
       'GUNNING1', 'MACARTH1', 'MLWF1', 'GULLRWF1', 'MUSSELR1', 'SNOWNTH1',
       'SNOWSTH1', 'BOCORWF1', 'TARALGA1', 'BALDHWF1', 'ARWF1', 'HDWF1',
       'HDWF2', 'HDWF3', 'KIATAWF1', 'SAPHWF1', 'WRWF1', 'YSWF1', 'BODWF1',
       'CROOKWF2', 'CROWLWF1', 'MEWF1', 'MTGELWF1', 'SALTCRK1', 'STWF1',
       'WGWF1', 'COOPGWF1', 'GRANWF1', 'LGAPWF1', 'MUWAWF1', 'YENDWF1',
       'BANGOWF1', 'BULGANA1', 'CHYTWF1', 'CRURWF1', 'CTHLWF1', 'DUNDWF1',
       'DUNDWF2', 'DUNDWF3', 'ELAINWF1', 'GULLRWF2', 'MOORAWF1', 'BANGOWF2',
       'BRYB1WF1', 'DIAPURWF1', 'KEPWF1', 'LGAPWF2', 'STOCKYD1', 'BRYB2WF2',
       'KABANWF1', 'MRTLSWF1', 'MUWAWF2', 'PAREPW1'],
      dtype='object')

Column Data Types:
SETTLEMENTDATE     object
CAPTL_WF          float64
CATHROCK          float64
CHALLHWF          float64
CLEMGPWF          float64
                   ...
BRYB2WF2          float64
KABANWF1          float64
MRTLSWF1          float64
MUWAWF2           float64
PAREPW1           float64
Length: 76, dtype: object

Column Count:
76